<%= form_for(@text_app) do |f| %>
	<% if @text_app.errors.any? %>
  	<% @text_app.errors.messages.each do |message| %>
    	<div class="message"><%= message.last.last.html_safe %></div>
  	<% end %>
<% end %>
  
   <h3><%= f.label "Phone Number:"%></h3>
   <div class="form-actions">
   <%= f.text_field :phone_num %>
  </div>
  <br>
  <div class="">
    <%= f.submit 'Text Me!'%>
  </div>
<% end %>
