<%= form_for(@text_app) do |f| %>
  <% if @text_app.errors.any? %>
    <div id="error_explanation">
      <% @text_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Phone Number: " %><br>
    <%= f.text_field :phone_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
