<p id="notice"><%= notice %></p>

<p>
  <strong>The number that got sent to Twillo:</strong>
  <%= @text_app.phone_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @text_app.name %>
</p>

<p>TO BE CUT: <%= %> html output</p>

<p>@text_app:</p>
<%= debug @text_app %>

<p>@key:</p>
<%= @key %>



<%= link_to 'Edit', edit_text_app_path(@text_app) %> |
<%= link_to 'Back', text_apps_path %>
